@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --tenne-tawny: #d65108;
    --tenne-tawny-dark: #b54507;
}

body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(270deg, #ddd, #fff);
}

/*  */
.btn {
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}

.author {
    color: #222;
}

.base {
    color: #f0f0f0;
}

.text {
    opacity: 0.8;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*  */


.meal-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.meal-search {
    margin: 2rem 0;
}

.meal-search cite {
    font-size: 1rem;
}

.meal-search-box {
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;

}

.search-control,
.search-btn {
    width: 100%;
}

.search-control {
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--tenne-tawny);
    color: var(--tenne-tawny);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
    color: var(--tenne-tawny);
}

.search-btn {
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tenne-tawny);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.search-btn:hover {
    background: var(--tenne-tawny-dark);
}

.meal-result {
    margin-top: 4rem;
}

#meal {
    margin: 2.4rem 0;
}

.meal-item {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
    transition: transform .4s, box-shadow .4s;
}

.meal-item:hover {
    transform: scale(1.015);
    box-shadow: 0 4px 12px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.meal-img img {
    width: 100%;
    display: block;
}

.meal-name {
    padding: 1.5rem 0.5rem;
}

.meal-name h3 {
    font-size: 1.4rem;
}

.recipe-btn {
    text-decoration: none;
    color: #fff;
    background: var(--tenne-tawny);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.recipe-btn:hover {
    background: var(--tenne-tawny-dark);
}

/* meal details */
.meal-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    background: var(--tenne-tawny);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}

.meal-details::-webkit-scrollbar {
    width: 8px;
}

.meal-details::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


/* js related */
.showRecipe {
    display: block;
}

.meal-details-content {
    margin: 2rem;
}

.meal-details-content p:not(.recipe-category) {
    padding: 1rem 0;
}

#recipe-close-btn {
    display: none;
}

.recipe-close-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.recipe-title {
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.recipe-category {
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.recipe-category {
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.recipe-instruct {
    padding: 1rem 0;
}

.recipe-meal-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.recipe-link {
    margin: 1.4rem 0;
}

.recipe-link a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.recipe-link a:hover {
    opacity: 0.8;
}


/*  */
.notFound {
    grid-template-columns: 1fr !important;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

.right-click {
    text-align: end;
    position: relative;
    bottom: 2rem;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
    background-color: #d65108;
}

.footer__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    margin-bottom: .75rem;
}

.footer__logo i {
    font-size: 1.25rem;
}

.footer__content,
.footer__links {
    display: grid;
}

.footer__content {
    padding: 1.5rem;
    grid-template-columns: repeat(2, max-content);
    gap: 2.5rem 4rem;
}

.footer__title {
    margin-bottom: 1rem;
}

.footer__links {
    row-gap: .5rem;
}

.footer__link {
    color: var(--text-color);
    transition: .3s;
}


.footer__social {
    display: flex;
    column-gap: 1rem;
}

ul li a:hover {
    color: #f0f0f0;
}

.footer__social-link {
    font-size: 1.25rem;
    color: var(--text-color);
    transition: .3s;
}

.footer__social-link:hover {
    color: #f0f0f0;
}

.footer__info {
    padding-bottom: 2rem;
    margin-top: 5.5rem;
    flex-direction: column;
    text-align: center;
    row-gap: 1.5rem;
    background-color: #222;
    color: #f0f0f0;
}


.footer__privacy a {
    justify-content: center;
    column-gap: 1.25rem;
    color: #d65108;
}

.footer__privacy a:hover {
    color: #b54507;
}

.footer__privacy {
    margin-top: 2rem;
}




/* Media Queries */
@media screen and (min-width: 320px) {
    #recipe-close-btn {
        display: flex;
    }

    .right-click {
        display: none;
    }

    .footer__info {
        margin-top: 0;
        padding-top: 2rem;
    }
}

@media screen and (min-width:320px) and (max-width: 440px) {
    .footer__links:first-child {
        margin-right: 10px;
    }

    .footer__content {
        padding: 1rem;
        grid-template-columns: repeat(2, max-content);
        gap: 2.5rem 2.5rem;
    }

    .footer__privacy {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }

    .search-control {
        background-image: linear-gradient(270deg, #e2e2e2, #fff);
    }
}

@media screen and (min-width:440.1px) {
    .footer__privacy {
        display: flex;
        justify-content: space-around;
    }

    .search-control {
        background-image: linear-gradient(270deg, #e2e2e2, #fff);
    }
}

@media screen and (min-width: 600px) {
    .meal-search-box {
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer__container {
        padding: 2rem;
    }

    .footer__content {
        grid-template-columns: repeat(2, max-content);
        gap: 2.5rem 8rem;
    }
}

@media screen and (min-width: 768px) {
    #meal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .meal-item {
        margin: 0;
    }

    .meal-details {
        width: 700px;
    }

    .footer__content {
        grid-template-columns: repeat(4, max-content);
        gap: 2.5rem 4rem;
    }

    .footer__container {
        padding: 2rem;
    }

    .search-control {
        background-image: linear-gradient(270deg, #e1e1e1, #fff);
    }
}

@media screen and (min-width: 992px) {
    #meal {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer__content {
        display: flex;
        justify-content: space-around;
    }

    .footer__content div {
        margin: 0 30px;
    }

    .search-control {
        background-image: linear-gradient(270deg, #eee, #f9f9f9);
    }
}


.scrollup {
    display: flex;
    width: 70px;
    height: 70px;
    font-size: 40px;
    position: fixed;
    bottom: 60px;
    right: 40px;
    background-color: #f0f0f0;
    color: #222;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px -2px rgb(9, 9, 9);
    transition: bottom .4s;
    scroll-behavior: smooth;
}

.scrollup:hover {
    bottom: 64px;
}


#theme-button {
    position: absolute;
    right: 40px;
    top: 20px;
}

.footer__title {
    color: #ddd;
}